{% style %}
section.image-text {
    display: flex;
    gap: 80px;
    align-items: center;
    margin: 0 0 48px;
}
.image-text__content,
.image-text__media {
    width: calc(50% -  40px);
    min-width: calc(50% -  40px);
}
.image-text__media img{
  min-height: 420px;
}
.image-text__media img {
    width: 100%;
    height: auto;
    border: 1px solid #000000;
    border-radius: 0 50px 0 0;
}
h1.image-text__heading {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -2.5px;
  margin: 0 0 24px;

  background: linear-gradient(90deg, #9333EA 0%, #2563EB 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
/* First load animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-text__heading {
  opacity: 0; /* initial hidden */
  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 0.2s; /* thodu delay for smooth entry */
}

.image-text__subheading {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 129%;
    letter-spacing: 0;
    color: #000000CC;
    margin: 0 0 32px;
}
a.image-text__button {
    color: #fff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0.6px;
    background: linear-gradient(90deg, #9333EA 0%, #2563EB 100%);
    padding: 12px 24px;
    text-decoration: none;
    display: inline-block;
    background-size: 200% 200%;
    transition: 
        background-position 0.6s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.image-text__button:hover {
  background-position: 100% 0;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.image-text__below-button {
    margin: 16px 0 0;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #000000CC;
    text-decoration: underline;
}
.image-text__media {
    line-height: 0;
}
@media screen and (max-width: 1200px) {
    section.image-text {
        gap: 40px;
    }
    
    .image-text__content,
    .image-text__media {
        width: calc(50% -  20px);
        min-width: calc(50% -  20px);
    }
    .image-text__media img{
      min-height: 200px;
    }

}
@media screen and (max-width: 990px) {
    section.image-text {
        gap: 24px;
        flex-direction: column;
        margin: 0 0 24px;
    }
    
    .image-text__content,
    .image-text__media {
        width: 100%;
    }
    .image-text__media img{
      min-height: 300px;
    }
    .image-text__content {
        text-align: center;
    }
  .image-text__heading {
    animation-duration: 0.45s;
  }
}

{% endstyle %}
<section class="image-text">
  <div class="image-text__content">
    {% if section.settings.heading != blank %}
      <h1 class="image-text__heading">
        {{ section.settings.heading }}
      </h1>
    {% endif %}

    {% if section.settings.subheading != blank %}
      <div class="image-text__subheading">
        {{ section.settings.subheading }}
      </div>
    {% endif %}

    {% if section.settings.button_text != blank %}
      <a
        href="{{ section.settings.button_url }}"
        class="image-text__button"
      >
        {{ section.settings.button_text }}
      </a>
    {% endif %}

    {% if section.settings.text_below_button != blank %}
      <div class="image-text__below-button">
        {{ section.settings.text_below_button }}
      </div>
    {% endif %}
  </div>

  <div class="image-text__media">
    {% if section.settings.hero_image != blank %}
      <img
        src="{{ section.settings.hero_image | image_url: width: 1200 }}"
        alt="{{ section.settings.hero_image.alt | escape }}"
        loading="lazy"
        width="{{ section.settings.hero_image.width }}"
        height="{{ section.settings.hero_image.height23edv   }}"
      >
    {% endif %}
  </div>
</section>
